*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;    
}

.Box{
    background-color: rgb(188, 179, 179);
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vh;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    border-radius: 15px ;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Box input[type="file"] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.uploadButton{
    position: relative;
    width: 45%;
    height: 15%;
    background-color: #c54c20;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    top: -40%;
    z-index: 0;
    padding: 5% 2%;
    font-weight: bold;
    color: #efdecb;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.compressButton{
    width: 200px;
    height: 65px;
    border-radius: 40px;
    z-index: 1;
    cursor: pointer;
    font-size: 25px;
    border-style: none;
    background-color: #ff7f50;
    font-weight: bold;
    color: #efdecb;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.compressButton:hover{
    color: black;
}

@media (max-width:670px) {
    h1{
        font-size: 40px;
    }

    .Box{
        width: 50vh;
    }

    .uploadButton{
        width: 60%;
    }
}

@media(max-width:500px){
    .Box{
        width: 40vh;
    }

    h1{
        font-size: 30px;
    }

    .uploadButton{
        width: 70%;
        font-size: 20px;
    }
}

